<div class="jumbotron">
	<h1>Read-it</h1>
	<p>Read-it is like Reddit, only waaaay cooler.</p>
	<p><%= link_to "Sign In", new_session_path, class: 'social-btn-2'%></p>
	<p><%= link_to "Sign Up", new_user_path, class: 'social-btn' %></p>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>We will be your best friend!</h2>
		<p>We have no friends! When you sign up, you will be our friend. You're welcome.</p>
	</div>
	<div class="col-md-4">
		<h2>We will give you $5!</h2>
		<p>Our sponsor, who is a prince in Nigeria, has promised to give $5 to every person who signs up! He just needs a little info from you.</p>
	</div>
	<div class="col-md-4">
		<h2>We are better than Reddit!</h2>
		<p>We just are. I don't want to argue with you, just take it at face-value.</p>
	</div>
</div>